<!doctype html>
<html>
<head>
	<meta charset='utf-8'>
	<link rel="stylesheet" type="text/css" href="grid.css">
</head>
<body ng-app="myModule">
<div ng-controller="gridCtrl">
	<button ng-click="addRow()">+Row</button>
	<button ng-click="deleteRow()">-Row</button>
	<button ng-click="addColumn()">+Column</button>
	<button ng-click="deleteColumn()">-Column</button>

	<div class="grid vlayout" style="width:600px">
		<div class="row unflex hlayout" ng-repeat="row in rows">
			<div class="column unflex" ng-repeat="column in row">{{row[$index]}}</div>
		</div>
	</div>
</div>

<button add-book-button>Add book</button>
<div ng-controller='booksCtrl'>
	<button ng-click="removeBook()">Remove book</button>Total {{books.length}} books:
	<ul>
		<li ng-repeat="b in books">title: "{{b.title}}", author: "{{b.author}}"</li>
	</ul>
</div>

<script src="bower_components/angular/angular.min.js"></script>
<script src="grid.js"></script>
</body>
</html>